body {
line-height: 1.6;
margin: 20px;
}

h1 {
font-size: 24px;
margin-bottom: 20px;
}

h2:not(:first-child) {
    margin-top: 40px;
}

h2 {
font-size: 20px;
margin-bottom: 15px;
}

p {
font-size: 16px;
}

ul {
    margin-bottom: 5px;
}

.carousel-icon {
    background-color: black;
    opacity:0.70;
    border-radius: 50%;
}

.align-right {
    text-align: right;
}

.scrollable {
    overflow-y: hidden;
}