body {
line-height: 1.6;
margin: 10px;
}

h1 {
font-size: 24px;
margin-bottom: 20px;
}

h2:not(:first-child) {
    margin-top: 40px;
}

h2 {
font-size: 20px;
margin-bottom: 15px;
}

p {
font-size: 16px;
}

ul {
    margin-bottom: 5px;
}

html,body{ margin:0; padding:0; height:100%; width:100%; }

.full-screen {
    position: fixed;
    height:100%;
    width:100%;
    padding: 20px;
    overflow:hidden; 
}

.controls {
    padding: 10px 0;
}

.select {
    width: auto;
    padding: 5px;
    margin-left: 15px;
}

.progress {
    height: 40px;
    padding: 0;
}
.align-right {
    text-align: right;
}
